<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

</head>
<body>
<header class="site-header">
				<div class="container">
					<a href="/" id="branding">
						<img src="" alt="" class="logo">
						<div class="logo-copy">
							<h1 class="site-title">Thymeleaf</h1>
							<small class="site-description"></small>
						</div>
					</a> <!-- #branding -->

					<div class="main-navigation">
						<button type="button" class="menu-toggle"><i class="fa fa-bars"></i></button>
						<ul class="menu">
							<li class="menu-item current-menu-item"><a href="/">Home</a></li>
							<li class="menu-item"><a href="/estate/estate_list">부동산</a></li>
							<li class="menu-item"><a href="/move/move_find">이사</a></li>
							<li class="menu-item"><a href="/board/board_list">게시판</a></li>
						</ul> <!-- .menu -->

						<!-- <form action="#" class="search-form">
							<input type="text" placeholder="Search...">
							<button><i class="fa fa-search"></i></button>
						</form> -->
					</div> <!-- .main-navigation -->

					<div class="mobile-navigation"></div>
				</div>
			</header>
</body>
</html>